extends layout

block content
  .w3-card-4
    header.w3-container.w3-teal
      h1(class='w3-center') Contratos da entidade com o NIPC #{nicp}
    .w3-container
      table.w3-table.w3-bordered.w3-striped
        thead
          tr
            th ID
            th Objecto
            th Data Celebração 
            th Preço Contratual
            th NIPC Entidade Comunicante 
            th Entidade Comunicante
        tbody
          each contrato in contratos
            tr
              td
                a(href=`/${contrato._id}`, style='text-decoration: none; color: #009688;') #{contrato._id}
              td #{contrato.objeto_Contrato}
              td #{contrato.dataCelebracaoContrato}
              td #{contrato.precoContratual}
              td #{contrato.NIPC_entidade_comunicante}
              td #{contrato.entidade_comunicante}